@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;

padding: 0;
box-sizing: border-box;
font-family: "Roboto";
}

body {
    background: linear-gradient(13deg, rgb(198, 198, 214), rgb(171, 189, 236));
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.container{
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.3);
}
h1{
    margin-bottom: 20px;

}
#generate-btn{
    background: linear-gradient(46deg, rgb(198, 198, 214), rgb(171, 189, 236));
    color: white;
    border: none;
    padding: 0.8rem 1.4rem;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 1rem;

}
#generate-btn:hover{
    transform: translate(-2px);
    box-shadow: 0 6px 10px;

}
.palette-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
}
.color-box{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);

    transition: transform 0.2s;
}
.color-box:hover{
    transform: translateY(-4px);
}
.color{
    height: 130px;
    cursor: pointer;
}
.copy-btn{
    cursor: pointer;
    color: rgb(96, 140, 140);
}